<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>
 
<p>
  <strong>Nickname:</strong>
  <%= @post.nickname %>
</p>
<p>
  <strong>Email:</strong>
  <%= @post.email %>
</p>
 
<p>
  <strong>Image:</strong>
  <%= @post.imageurl %>
  

</p>


